*.aux
*.log
*.bbl
*.blg
*.fls
*.lot
*.lof
*.toc
*.out
*.pdf
*.swp
*.java
*.xml
examples/example.java
examples/simple_example_xml.xml
figures/clock_filter.gif
figures/huff_n_puff.gif
figures.old/fig_3_1.gif
figures.old/flt6.gif
algorithms/
figures.old/
old_files/
overview.tex.old
thesis.fdb_latexmk
